
@font-face {
    font-family: "Gilroy";
    src: url("website/fonts/Gilroy-Regular.ttf");
    font-weight: 400;

}
@font-face {
    font-family: "Gilroy";
    src: url("website/fonts/Gilroy-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Gilroy";
    src: url("website/fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("website/fonts/Gilroy-Bold.ttf");
    font-weight: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url("website/fonts/Gilroy-Heavy.ttf");
    font-weight: 900;
}
*:not(i){
    font-family: 'Gilroy', sans-serif;
}
body{
    padding: 0;
    margin: 0;

}

.bgheader {
    background-color: #0971e5;
}
.senderFooterBtn {
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    position: relative;
    border-radius: 50%;
}
.senderFooterBtn i{
    position: absolute;
    top: 50%;
    left: 50%;
    /* top: 30%;
    left: 25%; */
    transform: translate(-59%,-50%);
    color: #0971e5;
}
.senderFooterBtn.done i{
    top: 30% !important;
    left: 30% !important;
}
.SearchBtnFooter {
    background-color: #f5f5f5;
    border-radius: 10px;

}
.SearchBtnFooter input[name="search"] {
        /* Remove First */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 border: none;
 background-color: transparent;
 height: 35px;
 width: 100%;
}
.SearchBtnFooter input[name="search"]:focus-visible {
    outline: none ;
    box-shadow: none !important;
}
.w-90{
    width: 90%;
}
.ChatBubble {
    background-color: #0971e5;
    min-height: 46px;
}
.ChatBubble-grey {
    background-color: #f0f0f2;
    min-height: 46px;
}
.fontw-300{
    font-weight: 300;
}
.fontw-400{
    font-weight: 400;
}
.fontw-500{
    font-weight: 500;
}
.fontw-600{
    font-weight:600;
}
.fontw-700{
    font-weight: 700;
}
.fontw-800{
    font-weight: 800;
}
.fontw-900{
    font-weight: 900;
}
.bgpurple{
    background-color: #faf4ff;
}
.bglightgreen {
    background-color: #f3fff5;
}
.bglightblue {
    background-color: #f3fbfe;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.roundcorner{
    border-radius: 15px;

}
.equalwidth{
    width: 32%;

}
.font-10{
    font-size: 10px;
}
.font-9{
    font-size: 9px;
}
.bgdarkpurple{
    background-color: #9b77ff;
}
.bgdarkyellow{
    background-color: #f8de4d;
}
.bgdarkgreen{
    background-color: #45eda0;
}
.bgdarkred{
    background-color: #ff6c6c;
}
.bgdarkblue{
    background-color: #0177fd;
}
.listLeftIcons{
    width: 35px;
    height: 35px;
    position: relative;
    display: block;
}
.listLeftIcons img.icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #0177fd !important;
    background-color: #0177fd !important;
}
.custom-checkbox .custom-control-label::before{
    border-radius: 1.25rem !important;


}
.custom-control-input:focus~.custom-control-label::before{
    box-shadow: none !important;
}
.custom-control-label::before{

    width: 1.2rem !important;
    height: 1.2rem !important;
}
.custom-control-label::after{
    width: 1.2rem !important;
    height: 1.2rem !important;
}

/* SlideupPopup */
.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
  }

  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }
  .max100{
      max-width: 100% !important;
  }
  .close{
      /* background-color: #f4f4f4; */
      font-size: 16px !important;
      border-radius: 50%;
      margin: -.5rem -.5rem 0rem auto !important;
      color: #fff !important;
      background-color: var(--hover);
  }
  .close i{
    width: 16px;
    text-align: center;
  }
  .modal-content{
    border-radius: 1.3rem !important;

  }
  .mediaPurple{
    width: 75px;
    display: block;
    height: 75px;
    position: relative;
  }
  .mediaPurple > img.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #carouselExampleIndicators .customIndicators li {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      border: 3px solid #ccc !important;
       border-width: 1px;
       opacity: 1;
       margin-right: 10px;
  }
  #carouselExampleIndicators .customIndicators li.active{
    background-color: #0971e5;
    border-color: #0971e5 !important;
  }

  .commonCarousel .customIndicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 3px solid #ccc !important;
     border-width: 1px;
     opacity: 1;
     margin-right: 10px;
}
.commonCarousel .customIndicators li.active{
  background-color: #0971e5;
  border-color: #0971e5 !important;
}

  #myModal2 > .modal-dialog {
       height: 93vh;

  }



  @media only screen and (max-width:360px){
    .adjust360 .p-3{
        padding: 0.4rem!important;

    }
    .adjust360 .font-9{
        font-size: 8px !important;

    }
    .adjust360 .font-12{
        font-size: 10px !important;

    }
    .px-xs-1{
        padding-left: .25rem!important;
        padding-right: .25rem!important;

    }
    .fiveyear{
        font-size: 7px !important;
    }

  }

/* footer {
    border-top: 1px solid #ccc;
} */
.OverviewIcons{
    text-align: center;
    width: 40px;
    /* border-radius: 50%; */
    height: 40px;
    margin: 0 auto;
}
.OverviewIcons i{
    background: white;
    color: blue;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    border : 1px solid blue;
    width: 40px;

}
.OverviewIcons.active i{
    background: blue;
    color: white;

}
.bluetext{
    color: blue;

}
.SearchBtnFooter input[name="search"]:focus{
    outline: none !important;
    box-shadow: none !important;
}
@media only screen and (max-width:376px){
    .roundcorner.text-center.p-3 {
           padding: .5rem !important;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
     }

     .w-36px{
        width: 36px;
     }
     .close.up{

     }
     .close.up:hover,
.close.up:focus {
    color: var(--color);
  background-color: var(--hover);
}
.up {
    --color: #fff;
    --hover: #0177fd;
  }
