@import '../dashboard/css/bootstrap.min.css';
@import '../dashboard/css/icons.css';
@import '../dashboard/css/metismenu.min.css';
@import "../dashboard/scss/style";

div.dataTables_wrapper div.dataTables_filter {
    float: right !important;
}

.datatable-btn {
    color: white;
}

div.dataTables_wrapper div.dataTables_info {
    float: left !important;
}

.table thead th {
    border-bottom: none !important;
}

.table-bordered thead {
    background-color: transparent !important;
}

.table-bordered {
    border-top: 0 !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 21px !important;
    left: 11px !important;
}

.no-sort {
    &:before, &:after {
        display: none !important;
    }
}

.dropify-wrapper {
    border: 1px solid #E5E5E5 !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e9ecef !important;
}

.select2-container--default .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}
