:root {
    --table-border: #000000;
    --table-heading-color: #ebebeb;
    --table-header-color: #ebebeb;
    --summary-row-border: #b3b7bb;
    --summary-row-bg: #d6d8db;
}

/*

!*Original*!
:root {
    --table-border: #dee2e6;
    --table-heading-color: #f8f9fa;
    --table-header-color: #f8f9fa;
    --summary-row-border: #b3b7bb;
    --summary-row-bg: #d6d8db;
}
*/

.details-table tr {
    line-height: 12px !important
}
