.dt-button {
    margin-right: 0.2rem !important;
    min-width: 34px !important;
    min-height: 34px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(87, 102, 218, 0.15) !important;
    color: #5766da !important;
    text-decoration: none;
}

.break-long-text {
    word-break:break-all !important;
}

@media print
{
    .dataTables_info, .dataTables_paginate, .dataTables_length, .dt-buttons, .dataTables_filter
    {
        display: none !important;
    }
}

.card {
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
}

.card-primary{
    background-color: #5766da;
}

.card-secondary{
  background-color: #e2e2f1;
}

.card-success{
  background-color: #1ecab8;
}

.card-warning{
    background-color: #fbb624;
}

.card-info{
  background-color: #00bcd4;
}

.card-danger{
    background-color: #f93b7a;
}

.card-dark{
  background-color: #2f394e;
}

.card-light{
  background-color: #f8f9fa;

}

.card-pink{
  background-color: #ec408f;
}

.card-purple{
  background-color: #7043c1;
}
.bg-gradient4{
  background-image: linear-gradient( 
    150deg
     , #9491e4 0, #000000 100%);
  }
  .bg-gradient5{
    background-image: linear-gradient( 
      150deg
       , #ff5555 0, #ffdada 100%);
  }
  .bg-gradient6{
    background-image: linear-gradient( 
      150deg
       , #c2c2c2 0, #0b0b0b 100%);
    }
    .bg-gradient7{
      background-image: linear-gradient( 
150deg
 , #e8a5a5 0, #f60000 100%);
    }


